{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <h1 class="text-primary">{{ category.title }}</h1><br>
{% comment %} 
    <div class="flex flex-wrap">
        {% for product in products %}
            <div class="product w-1/3 p-2">
                <div class="p-4 bg-gray-100">
                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                        <h2 class="text-xl">{{ product.title }}</h2>
                        <img src="{{ product.product_image.url }}">
                        <p class="text-xs text-gray-600">${{ product.get_display_price }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div> {% endcomment %}

{% comment %} 
    <div class="row g-4">
        <div class="col-lg-12">
            <div class="row g-4">
                {% for product in products %}
                <div class="col-md-6 col-lg-4 col-xl-3" style="height:400px;">
                    <div class="rounded position-relative fruite-item" style="height:100px;">
                        <div class="fruite-img">
                            <a href="{% url 'product_detail' product.category.slug product.slug %}">
                            <img src="{{ product.product_image.url }}" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{product.category}}</div>
                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                            <h4>{{ product.title }}</h4></a>
                           
                            <div class="d-flex justify-content-between flex-lg-wrap">
                                <p class="text-dark fs-5 fw-bold mb-0">Rs: {{ product.get_display_price }} /Kg</p>
                                <a href="{% url 'add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
{% endcomment %}


{% comment %} Modified version for image size {% endcomment %}

<div class="row g-4">
    <div class="col-lg-12">
        <div class="row g-4">
            {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xl-3" style="height:400px; width:300px;">
                <div class="rounded position-relative fruite-item" style="height:100px;">
                    <div class="fruite-img" style="height:200px;">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                            <img src="{{ product.product_image.url }}" class="img-fluid w-100 h-100 rounded-top" alt="">
                        </a>
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{product.category}}</div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4>{{ product.title }}</h4></a>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">Rs: {{ product.get_display_price }}/Kg</p>
                            <a href="{% url 'add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% comment %} It will change it in center with justify-content {% endcomment %}

{% comment %} 
<div class="row g-4 justify-content-center">
    <div class="col-lg-12">
        <div class="row g-4 justify-content-center">
            {% for product in products %}
            <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center" style="height:400px; width:300px;">
                <div class="rounded position-relative fruit-item" style="height:100px;">
                    <div class="fruit-img" style="height:200px;">
                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                            <img src="{{ product.product_image.url }}" class="img-fluid w-100 h-100 rounded-top" alt="">
                        </a>
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{product.category}}</div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                        <h4>{{ product.title }}</h4></a>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">Rs: {{ product.get_display_price }} /Kg</p>
                            <a href="{% url 'add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> {% endcomment %}

{% endblock %}



