{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ product.title }}{% endblock title%}
{% block hero %} {% endblock hero %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Our Organic Products</h1>
                        </div>
                        <div class="col-lg-8 text-end">
                            <ul class="nav nav-pills d-inline-flex text-center mb-5">
                                <li class="nav-item">
                                    <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill" href="#tab-1">
                                        <span class="text-dark" style="width: 130px;">All Products</span>
                                    </a>
                                </li>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        {% for product in products %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img">
                                                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                    <img src="{{ product.product_image.url }}" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;"></div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>{{ product.title }}</h4></a>
                                                    <p>{{ product.description}}</p>
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">Rs: {{ product.get_display_price }} / Kg
                                                        - <a href=" {% url 'vendor_detail' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
                                                        </p>
                                                        <a href="#" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>      
            </div>
        </div>
        <!-- Fruits Shop End-->

<br>
<br>
<br>
<br>



  <h1>{{ product.title }}</h1>
  <p>{{ product.description }}</p>
  <p>Price: ${{ product.price }}</p>
  <a href=" {% url 'vendor_detail' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
  <img src="{{ product.product_image.url }}" alt="{{ product.title }}">

  {% if product.categories.all %}
    <h2>Categories:</h2>
    <ul>
      {% for category in product.categories.all %}
        <li>{{ category.title }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if product.related_products.all %}
    <h2>Related Products:</h2>
    <ul>
      {% for related_product in product.related_products.all %}
        <li><a href="{% url 'product_detail' category_slug=related_product.category.slug slug=related_product.slug %}">{{ related_product.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
 <a href="{% url 'add_to_cart' product.id %}" class="inline-block bx-8 py-4 bg-teal-500 text-white">Add to Cart</a>




                
{% endblock content%}