{% extends 'core/base.html' %}
{% load static %}
{% load menu %}
{% block title %} {% endblock title %}

{% block stylecss %}


{% endblock stylecss%}
{% block hero %}

 <!-- Hero Start -->
 <div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3" style="color: red;">100% Organic Foods</h4>
                <h1 class="mb-5 display-3 text-primary"><span style="color: orange;">Farm-Fresh</span> Organic Products</h1>
                {% comment %} <div class="position-relative mx-auto">
                    <input class="form-control border-2 border-secondary w-75 py-3 px-4 rounded-pill" type="number" placeholder="Search">
                    <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4 position-absolute rounded-pill text-white h-100" style="top: 0; right: 25%;">Submit Now</button>
                </div> {% endcomment %}
            </div>
            <div class="col-md-12 col-lg-5">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded">
                            <img src="{% static 'assets/img/hero-img-1.png' %}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Fruits</a>
                        </div>
                        <div class="carousel-item rounded">
                            <img src="{% static 'assets/img/hero-img-2.jpg' %}" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Vegetables</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
{% endblock hero %}

{% block content %}
        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite py-5">
            <div class="container py-5">
                <div class="tab-class text-center">
                    <div class="row g-4">
                        <div class="col-lg-4 text-start">
                            <h1>Trending Products</h1><hr><br>
                        </div>
                        <div class="col-lg-8 text-end">
                            {% comment %} <ul class="nav nav-pills d-inline-flex text-center mb-5">
                                <li class="nav-item">
                                    <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill">
                                        <span class="text-dark" style="width: 130px;">All Products</span>
                                    </a>
                                </li>
                             
                               
                                 <li class="nav-item">
                                    <div class="menu flex space-x-4">
                                        <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill">
                                            <span class="text-dark" style="btn btn-danger">{% menu %}</span>
                                        </a>
                                       </div>
                                </li>   
                            </ul> {% endcomment %}

                            {% comment %} <ul class="nav nav-pills d-inline-flex text-center mb-5">
                                <li class="nav-item">
                                    <a class="d-flex m-2 py-2 bg-light rounded-pill active" data-bs-toggle="pill">
                                        <span class="text-dark" style="width: 130px;">All Products</span>
                                    </a>
                                </li>
                            
                                {% for category in categories %}
                                    <li class="nav-item">
                                        <a class="d-flex py-2 m-2 bg-light rounded-pill" data-bs-toggle="pill">
                                            <span class="text-dark" style="btn btn-danger">{% menu %}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul> {% endcomment %}

                            
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="row g-4">
                                        {% for product in products %}
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <div class="rounded position-relative fruite-item">
                                                <div class="fruite-img" style="height: 160px;">
                                                    <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                                    <img src="{{ product.product_image.url }}" class="img-fluid w-100 rounded-top" alt="">
                                                </div>
                                                <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">{{product.category}}</div>
                                                <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                                    <h4>{{ product.title }}</h4></a>
                                                   
                                                    <div class="d-flex justify-content-between flex-lg-wrap">
                                                        <p class="text-dark fs-5 fw-bold mb-0">Rs: {{ product.get_display_price }} / Kg</p>
                                                        <a href="{% url 'add_to_cart' product.id %}" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>      
            </div>
        </div>
        {% endblock content %}
        <!-- Fruits Shop End-->